body {
	background-color: black;
}

canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    /*border: 1px solid white;*/
}

.pontos1{
	float: left;
	color:white;
	text-align:center;
	margin-left: 55%;
	font-size:50px;
}

.pontos2{
	float: right;
	color:white;
	text-align:center;
	margin-right:55%;
	font-size:50px;
}

.pontos1 .pontos2{
	display: flex;
	align-items: center;
}
